@768-gladwin-tech:registry=https://gitlab.pixelplex.by/api/v4/packages/npm/
@ppx-react:registry=https://gitlab.pixelplex.by/api/v4/packages/npm/

"//gitlab.pixelplex.by/api/v4/packages/npm/:_authToken"="zxEJCuHK64h-y3k12ZiW"
"//gitlab.pixelplex.by/api/v4/projects/:_authToken"="zxEJCuHK64h-y3k12ZiW"
